{% extends 'account/base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">注册</h1>
                            </div>
                            <form class="form-signin" action="{% url 'account:register' %}" method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-secondary btn-user btn-block">注册</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url "account:login" %}">登录</a>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}