{% extends 'test_log/base.html' %}
{% block content %}
    <div id="container" style="height: 80%; width: 100%"></div>
    {% load static %}
    <script src="{% static 'test_log/js/china.js' %}"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=yCjjRQVKGrwFeKNKsX3YvGzYcGr7G8DI"></script>
    <script>
        dom = document.getElementById("container");
        myChart = echarts.init(dom);
        data = {{ ip_all | safe }};
        var yData = [];
        var barData = [];
        for (var i = 0; i < 10; i++) {
            barData.push(data[i]);
            yData.push(i + data[i].name);
        }
        var option = {
            title: [{
                show: true,
                text: '国内访问排名',
                textStyle: {
                    color: '#2D3E53',
                    fontSize: 18
                },
                right: 100,
                top: 100
            }],
            tooltip: {
                show: true,
                formatter: function (params) {
                    return params.name + '：' + params.data['value'] + '%'
                },
            },
            visualMap: {
                type: 'continuous',
                orient: 'horizontal',
                itemWidth: 10,
                itemHeight: 80,
                text: ['高', '低'],
                showLabel: true,
                seriesIndex: [0],
                min: 0,
                max: 7,
                inRange: {
                    color: ['#edfbfb', '#b7d6f3', '#40a9ed', '#3598c1', '#215096',]
                },
                textStyle: {
                    color: '#7B93A7'
                },
                bottom: 30,
                left: 'left',
            },
            grid: {
                right: 10,
                top: 135,
                bottom: 100,
                width: '20%'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                type: 'category',
                inverse: true,
                nameGap: 16,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#ddd'
                    }
                },
                axisTick: {
                    show: false,
                    lineStyle: {
                        color: '#ddd'
                    }
                },
                axisLabel: {
                    interval: 0,
                    margin: 85,
                    textStyle: {
                        color: '#455A74',
                        align: 'left',
                        fontSize: 14
                    },
                    rich: {
                        a: {
                            color: '#fff',
                            backgroundColor: '#FAAA39',
                            width: 20,
                            height: 20,
                            align: 'center',
                            borderRadius: 2
                        },
                        b: {
                            color: '#fff',
                            backgroundColor: '#4197FD',
                            width: 20,
                            height: 20,
                            align: 'center',
                            borderRadius: 2
                        }
                    },
                    formatter: function (params) {
                        if (parseInt(params.slice(0, 1)) < 5) {
                            return [
                                '{a|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + params.slice(1)
                            ].join('\n')
                        } else {
                            return [
                                '{b|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + params.slice(1)
                            ].join('\n')
                        }
                    }
                },
                data: yData
            },
            geo: {
                roam: true,
                map: 'china',
                left: 'left',
                right: '300',
                layoutSize: '80%',
                label: {
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    emphasis: {
                        areaColor: '#fff464'
                    }
                }
            },
            series: [{
                name: 'mapSer',
                type: 'map',
                roam: false,
                geoIndex: 0,
                label: {
                    show: false,
                },
                data: data
            }, {
                name: 'barSer',
                type: 'bar',
                roam: false,
                visualMap: false,
                zlevel: 2,
                barMaxWidth: 8,
                barGap: 0,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            // build a color map as your need.
                            var colorList = [{
                                colorStops: [{
                                    offset: 0,
                                    color: '#FFD119' // 0% 处的颜色
                                }, {
                                    offset: 1,
                                    color: '#FFAC4C' // 100% 处的颜色
                                }]
                            },
                                {
                                    colorStops: [{
                                        offset: 0,
                                        color: '#00C0FA' // 0% 处的颜色
                                    }, {
                                        offset: 1,
                                        color: '#2F95FA' // 100% 处的颜色
                                    }]
                                }
                            ];
                            if (params.dataIndex < 3) {
                                return colorList[0]
                            } else {
                                return colorList[1]
                            }
                        },
                        barBorderRadius: 15
                    }
                },
                data: barData
            }]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}
