{% extends 'testlog/base.html' %}
{% block content %}
    <div id="container" style="height: 80%; width: 100%"></div>
    <script type="text/javascript">
        dom = document.getElementById("container");
        myChart = echarts.init(dom);
        option = {
            title: {
                text: '浏览器及网络爬虫情况',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#000'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: {{ user_agent_name | safe }},
            },
            series: [
                {
                    name: 'http_status',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: {{ user_agent_all | safe }},
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}